.programmes {
  padding: 80px 40px;
  background: #f5f7fa;
}


.programmes h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: #0a3d62;
  margin-bottom: 20px;
}


.programme-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 20px;
  margin-bottom: 40px;
}

.programme-tabs span {
  cursor: pointer;
  color: #6b7280;
  position: relative;
  padding-bottom: 5px;
  transition: 0.2s;
}

.programme-tabs span:hover {
  color: #0a3d62;
}

.programme-tabs .active {
  color: #0a3d62;
  font-weight: 600;
}

.programme-tabs .active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 90%;
  height: 2px;
  background: #0a3d62;
}

.divider {
  color: #bbb;
}


.programme-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  max-width: 1500px;
  margin: 0 auto;
}


.programme-column {
  display: flex;
  flex-direction: column;
}


.programme-line {
  padding: 18px 0 18px 14px;
  border-bottom: 1px solid #b8babe;
  position: relative;
  cursor: pointer;
  transition: 0.25s ease;
}


.programme-line::before {
  content: "";
  position: absolute;
  left: 0;
  top: 20%;
  height: 60%;
  width: 3px;
  background: transparent;
  transition: 0.25s ease;
}


.programme-line:hover {
  background: #f9a825(10, 61, 98, 0.04);
}

.programme-line:hover::before {
  background: #f9a825;
}


.programme-line-content {
  display: flex;
  align-items: center;
  gap: 12px;
}


.programme-icon {
  font-size: 25px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0a3d62;
  transition: all 0.25s ease;
}


.programme-line:hover .programme-icon {
  color: #0a3d62; 
  transform: translateX(2px);
}


.programme-line h3 {
  font-size: 19px;
  font-weight: 600;
  color: #0a3d62;
  line-height: 1.3;
}


.show-more-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.show-more-btn {
  background: none;
  border: 0px;
  color: #0a3d62;
  font-size: 30px;
  width: 38px;
  height: 38px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.2s;
}

.show-more-btn:hover {
  background: #0a3d62;
  color: #fff;
}


@media (max-width: 768px) {
  .programme-columns {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .programmes {
    padding: 60px 20px;
  }
}
