.announcements {
  padding: 80px 30px;
  background: #f8fafc;
}

.announcements h2 {
  font-size: 42px;
  font-weight: 700;
  color: #0a3d62;
  margin-bottom: 50px;
  max-width: 1400px;
  margin: 0 auto 50px;
}



.ann-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px;
  max-width: 1400px;
  margin: 0 auto;
}



.ann-card {
  position: relative;
  background: white;
  border: 1px solid #e5e7eb;
  border-top: 3px solid #0a3d62; 
  display: flex;
  flex-direction: column;
  transition: all 0.25s ease;
  overflow: hidden;
}


.ann-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
  background: #f9fbfd; 
}


.ann-card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0%;
  width: 3px;
  background: #f9a825;
  transition: height 0.3s ease;
}

.ann-card:hover::before {
  height: 100%;
}



.ann-header {
  padding: 14px 18px 10px;
  background: #f1f6fb; 
  border-bottom: 1px solid #e5e7eb;
}


.ann-category {
  font-size: 11px;
  font-weight: 600;
  color: #0a3d62;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  display: block;
  margin-bottom: 4px;
}


.ann-header h3 {
  font-size: 18px;
  font-weight: 600;
  color: #0a3d62;
  line-height: 1.3;
}



.ann-body {
  padding: 16px 18px 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.ann-date {
  font-size: 12px;
  color: #9ca3af;
  margin-bottom: 10px;
}



.ann-text {
  font-size: 18px;
  font-weight: 500;
  color: #1f2937;
  margin-bottom: 6px;
}

.ann-desc {
  font-size: 16px;
  color: #6b7280;
  line-height: 1.6;
  margin-bottom: 16px;
}



.ann-btn {
  margin-top: auto;
  background: none;
  border: none;
  color: #0a3d62;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  padding: 0;
  position: relative;
}


.ann-btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background: #f9a825;
  transition: width 0.3s ease;
}

.ann-btn:hover::after {
  width: 100%;
}



.ann-footer {
  text-align: center;
  margin-top: 50px;
}

.view-more {
  padding: 14px 36px;
  background: #f9a825;
  color: white;
  border: none;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease;
}

.view-more:hover {
  background:  #f9a825;
  transform: translateY(-2px);
}



@media (max-width: 1000px) {
  .ann-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .ann-grid {
    grid-template-columns: 1fr;
  }

  .announcements {
    padding: 60px 20px;
  }
}